{% extends ':soccer:team.html.twig' %}
{% block nav_adm %}{% endblock %}
{% block trueR %}{% endblock %}
{% block content %}
    <div id="container">
        <div class="row">
            <div class="col-md-2">
                <br>
                <ul>
                    <li>
                        <a href="{{ path('adm_team_mod', {'team': team}) }}">Team sel Test</a>
                    </li>
                    <li>
                        <a href="{{ path('adm_pl_add', {'team': team}) }}">Player add</a>
                    </li>
                    <li>
                        <a href="{{ path('allPlayers', {'action': 'edit'}) }}">Player edit/remove</a>
                    </li>
                    <li>Coach</li>
                    <li>-----</li>
                    <li>{{ team }}</li>
                    <li>-----</li>
                    <li>Link7</li>
                </ul>
            </div>
            <div class="col-md-10">

                team: {{ team }}<br>
                <a href="{{ path('adm_team_mod', {'team': team}) }}">Team_sel_Test</a>
                <a class="btn btn-success btn-xs" href="{{ path('adm_pl_add', {'team': team}) }}">Player_add</a>
                <a class="btn btn-success btn-xs" href="{{ path('allPlayers', {'action': 'edit'}) }}">Player edit/remove</a>
            </div>
        </div>
    </div>
{% endblock %}