{% extends ':soccer:team.html.twig' %}
{% block nav_adm %}{% endblock %}
{% block trueR %}{% endblock %}
{% block content %}
    <div id="container">
        <div class="row">
            <div class="col-md-2">
                <br>
                <ul>
                    <li>
                        <a href="{{ path('adm_team_add', {'team': team }) }}">Team add</a>
                    </li>
                    <li>
                        <a href="{{ path('adm_team_mod', {'team': team }) }}">Team sel Test</a>
                    </li>
                    <li>
                        <a href="{{ path('adm_pl_add', {'team': team }) }}">Player add</a>
                    </li>
                    <li>
                        <a href="{{ path('allPlayers', {'action': 'player'}) }}">Player edit/remove</a>
                    </li>
                    <li>
                        <a href="{{ path('adm_co_add', {'team': team }) }}">Coach add</a>
                    </li>
                    <li>
                        <a href="{{ path('allCoaches', {'action': 'coach' }) }}">Coach edit/remove</a>
                    </li>
                    <li></li>
                    <li><b>{{ team }}</b></li>
                </ul>
            </div>
            <div class="col-md-10">
                team: {{ team }}<br>
                {% block adm_cont %}
                    <a class="btn btn-success btn-xs" href="{{ path('adm_team_add', {'team': team }) }}">Team add</a>
                    <a class="btn btn-success btn-xs" href="{{ path('adm_pl_add', {'team': team}) }}">Player_add</a>
                    <a class="btn btn-success btn-xs" href="{{ path('allPlayers', {'action': 'edit'}) }}">Player edit/remove</a>
                    <a class="btn btn-success btn-xs" href="{{ path('adm_co_add', {'team': team }) }}">Coach add</a>
                {% endblock adm_cont %}
            </div>
        </div>
    </div>
{% endblock %}