<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Welcome euro 2016</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
<div id="wrapper">
    <h1>Welcome to EURO 2016 tournament</h1>

    <div id="container">
        <a href="{{ path('flag', {'flag': 'France'}) }}">
            <img src="./img/flag_fr.png">
        </a><br>
        <a href="{{ path('team', {'team': 'France'}) }}">
            France
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Iceland'}) }}">
            <img src="./img/flag_il.png">
        </a><br>
        <a href="{{ path('team', {'team': 'Iceland'}) }}">
            Iceland
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Ukraine'}) }}">
            <img src="./img/flag_ua.png">
        </a><br>
        <a href="{{ path('team', {'team': 'Ukraine'}) }}">
            Ukraine
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Czech Republic'}) }}">
            <img src="./img/flag_CR.png">
        </a><br>
        <a href="{{ path('team', {'team': 'Czech Republic'}) }}">
            Czech Republic
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Turkey'}) }}">
            <img src="./img/flag_tk.png">
        </a><br>
        <a href="{{ path('team', {'team': 'Turkey'}) }}">
            Turkey
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Belgium'}) }}">
            <img src="./img/flag_be.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Belgium'}) }}">
            Belgium
        </a>
    </div>

    <div id="container">
        <a href="{{ path('flag', {'flag': 'Wales'}) }}">
            <img src="./img/flag_wa.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Wales'}) }}">
            Wales
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Spain'}) }}">
            <img src="./img/flag_sp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Spain'}) }}">
            Spain
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Slovakia'}) }}">
            <img src="./img/flag_sl.png">
        </a><br>
        <a href="{{ path('team', {'team': 'Slovakia'}) }}">
            Slovakia
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Germany'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Germany'}) }}">
            Germany
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Poland'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Poland'}) }}">
            Poland
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'England'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'England'}) }}">
            England
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Switzerland'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Switzerland'}) }}">
            Switzerland
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Northern'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Northern'}) }}">
            Northern
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Ireland'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Ireland'}) }}">
            Ireland
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Romania'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Romania'}) }}">
            Romania
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Austria'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Austria'}) }}">
            Austria
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Russia'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Russia'}) }}">
            Russia
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Italy'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Italy'}) }}">
            Italy
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Croatia'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Croatia'}) }}">
            Croatia
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Portugal'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Portugal'}) }}">
            Portugal
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Albania'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Albania'}) }}">
            Albania
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Hungary'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Hungary'}) }}">
            Hungary
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Republic of Ireland'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Republic of Ireland'}) }}">
            Republic of Ireland
        </a>
    </div>
    <div id="container">
        <a href="{{ path('flag', {'flag': 'Sweden'}) }}">
            <img src="./img/flag_emp.gif">
        </a><br>
        <a href="{{ path('team', {'team': 'Sweden'}) }}">
            Sweden
        </a>
    </div>

</div>

</body>
</html>