{% extends ':soccer:team.html.twig' %}
{% block nav %}{% endblock %}
{% block nav_adm %}{% endblock %}
{% block content %}
    <div id="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9"><br>
                <table class="table table-striped table-hover table-condensed">
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                        <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Age', 'p.age') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Country', 't.country') }}</th>
                        {% if action == 'edit' %}<th></th>{% endif %}
                    </tr>
                    {# table body #}
                    {% for player in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ player.id }}</td>
                            {% if action == 'edit' %}
                            <td><a href="{{ path('adm_pl_mod', {'team': player.country, 'id': player.id}) }}">{{ player.name }}</a></td>
                                {% else %}
                                    <td>{{ player.name }}</td>
                            {% endif %}
                            <td>{{ player.age }}</td>
                            <td>{{ player.country }}</td>
                            {% if action == 'edit' %}
                            <td><a class="glyphicon glyphicon-remove-circle" aria-hidden="true" href="{{ path('adm_pl_del', {'team': player.country, 'id': player.id}) }}"></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {# display navigation #}
                 <div class="nav-pager">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <div class="count">
                    Total amount: {{ pagination.getTotalItemCount }}
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}