{% extends 'soccer/s_base.html.twig' %}

 {% block header %}
     <header id="top">
         <div class="container">
             <h2 class="text-center">
                 <a id="mainUrl" href="{{ url('root') }}">EURO 2016 tournament</a></h2>
             <a class="btn btn-info btn-xs" href="{{ url('root') }}">
                 Main
             </a>
             {% block nav %}
                 <a class="btn btn-info btn-xs" href="{{ path('team', {'team': team}) }}">
                     Team
                 </a>
                 <a class="btn btn-info btn-xs" href="{{ path('flag', {'flag': team}) }}">
                     Flag
                 </a>
             {% endblock %}
         </div>
     </header>
 {% endblock %}
{% block content %}

    <div id="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">

                {% if trueRout %}
                    <span id="team" style="color: #2b542c">{{ team }}:</span><br>
                {% else %}
                    <span style="color: red">Name of country: {{ team }} WRONG!!!</span><br>
                {% endif %}
                list of PLAYERS:<br>
                <ul>
                    {% for item in listPlayers %}
                        <li><a href="{{ path('player', {'team': team, 'player': item}) }}">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                list of COACHES:<br>
                <ul>
                    {% for item in listCoaches %}
                        <li><a href="{{ path('coach', {'team': team, 'coach': item}) }}">{{ item }}</a></li>
                    {% endfor %}
                </ul>
                <p>
                    <span class="header">Last played matches: </span><br>
                    {{ lastMatches }}
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

{% endblock %}